/* Settings for the table filter */
.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}


/* Settings for the table paginate as a whole */
.dataTables_paginate {
   display: inline-block;
   float: right;
   text-align: right;
   font-size: 1rem;
   }

/* Settings for each of the table paginate buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
   margin: 0 8px;
   padding: 6px 12px;
   background-color: rgb(182, 181, 181);
   border-radius: 4px;
   color: white;
   text-decoration: none;
   cursor: pointer;
}

/* Background color for page which is hovered over */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #0056b3;
}

/* Background color for current page */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
   background-color: #007bff;
   border-radius: 4px;
}

/* No line breaks */
td {
   white-space: nowrap;
}

/* Settings for links */
a {
   color: black;
   text-decoration: none;
}

/* Settings for links while hovering over them */
a:hover {
   color: hotpink;
}